asgiref
certifi
charset-normalizer
contourpy
cycler
Django      
django-cleanup    
django-cors-headers
djangorestframework
fonttools         
idna           
kiwisolver      
matplotlib     
mysqlclient     
numpy          
packaging     
Pillow         
pip            
psycopg2        
PyJWT           
pyparsing         
python-dateutil   
pytz               
requests         
setuptools      
six            
sqlparse        
typing_extensions  
tzdata 
urllib3
wget